# Exercício 3: Implementar o KNNRegressor com RMSE
#### 3.1) Adiciona a métrica RMSE (RMQE em português) ao sub-package metrics. Deves criar um módulo chamado rmse.py.

##### Check rmse.py

#### 3.2) Considera a estrutura da função rmse apresentada no diapositivo seguinte

#### 3.2) Adiciona o objeto KNNRegressor ao sub-package neighbors. Deves criar um módulo chamado knn_regressor.py para implementar este objeto.

##### Check knn_regressor.py

#### 3.3) Considera a estrutura do objeto KNNRegressor apresentada no diapositivo seguinte.

#### 3.4) Podes testar o objeto KNNRegressor num jupyter notebook usando o dataset cpu.csv (regressão)

In [2]:
cd Desktop/Mestrado/SIB/si/src

C:\Users\rodri\Desktop\Mestrado\SIB\si\src

In [4]:
from si.neighbors.knn_regressor import KNNRegressor
from si.model_selection.split import train_test_split
from si.io.CSV import read_csv
from si.statistics_.euclidean_distance import euclidean_distance

In [5]:
data_cpu = read_csv("C:/Users/rodri/Desktop/Mestrado/SIB/si/datasets/cpu.csv", features=True, label=True)
data_cpu.print_dataframe()

     syct  mmin   mmax  cach  chmin  chmax
198   125   256   6000   256     16    128
269    29  8000  32000    32      8     32
220    29  8000  32000    32      8     32
172    29  8000  32000    32      8     32
132    29  8000  16000    32      8     16
..    ...   ...    ...   ...    ...    ...
42    124  1000   8000     0      1      8
46     98  1000   8000    32      2      8
52    125  2000   8000     0      2     14
67    480   512   8000    32      0      0
45    480  1000   4000     0      0      0

[209 rows x 6 columns]

In [11]:
train, test = train_test_split(data_cpu)
kmeans = KNNRegressor(k=2, distance=euclidean_distance)
kmeans.fit(train)
kmeans.score(test)

(61.366501945080834+0j)